//- Projects.pug
//-Ujjwal Bhasin
//-this page contains my Projects
nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Ujjwal
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        pan.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/AboutMe') About
            li.nav-item.active
                a.nav-link(href='/ContactMe') ContactMe
            li.nav-item.active
                a.nav-link(href='/Projects') Projects
            li.nav-item.active
                a.nav-link(href='/Services') Services