//- AboutMe.pug
//- Ujjwal Bhasin
//- this page contains information about myself
extends layout 

block content 
    h1 About Me
    h2 Introduction
    p My name is Ujjwal Bhasin. I am #{age} years old, I was born in a town named Chandigarh in India. I am currently in my final semester of computer programming at GC, Barrie. 
    h2 Stuff about myself
    ul
        li My hobbies are gymming and sports.

        li I came to Canada in 2017.

        li I am usually around technical devices.

        li I am currently working to be a successful programmer in Canada.


