//- Projects.pug
//-Ujjwal Bhasin
//-this page contains my Projects

extends layout 
block content 
    h1 Contact Me
        .txtb
            label Full Name :
            input(type='text', name='', value='', placeholder='Enter Your Name')
        .txtb
            label Email :
            input(type='email', name='', value='', placeholder='Enter Your Email')
        .txtb
            label Phone Number :
            input(type='text', name='', value='', placeholder='Enter Your Phone Number')
        .txtb
            label Message :
            textarea
        a.btn Send
