//- Projects.pug
//-Ujjwal Bhasin
//-this page contains my Projects



extends layout

block content

  h1 Projects
  h2 Portfolio 

  //- adding the project content

  ul 

    li Built an interface for my portfolio
    li Constructed time-date on my page
    li Built online contact portal
    li The page lets the user see my content and about me in detail.

  h2 Tic-Tac-Toe

  //- adding the project content

  ul

    li While working with xCode, I constructed a proper functioning game
    li The application lets you play with PC.
    li The app lets you play double player as well.

  h2 Music Store

  //- adding the project content

  ul 

    li While working with php and css, created a music store.
    li Music Store was published online.
    li The store contains info about Maroon 5 Band.