//- Services.pug
//-Ujjwal Bhasin
//-this page contains my Services
extends layout 

block content 

    .services-section
        .inner-width
            h1.section-title Our Services
            .border
            .services-container
                .service-box
                    .service-icon
                        i.fas.fa-paint-brush
                    .service-title Web Designs
                    .service-desc
                    | Helping in building world class web designs.
                .service-box
                    .service-icon
                        i.fas.fa-code
                    .service-title Web Development
                    .service-desc
                    | Helping in building development of Web Pages.
